<div>
<header>
  <div class="header-content">
    <div class="header-content-inner header-title">
      <h1>Web Security Professional and Designer</h1>
      <hr>
      <p>I can help you secure your web app or build your company website</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<aside class="bg-dark" id="about">
  <div class="container text-center">
    <div class="call-to-action">
      <h3>In the 21st century, if your company isn't on the web you don't event exist in the minds of the average
        person.  But you don't need anything complicated.  You just need something simple for people to find you and
        get in contact with you.  Simple, straight forward and professional goes a long way.
      </h3>
    </div>
  </div>
</aside>

<section class="bg-primary" id="about2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="section-heading">I've got experience in securing client side and server side websites!</h2>
        <hr class="light">
        <p class="text-faded"></p>
        <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started! (Send me an email)</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Principles</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-compass wow bounceIn text-primary"></i>
          <h3>Do you have them?</h3>
          <p class="text-muted">Professional quality and craftsmanship.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-spinner wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Modern</h3>
          <p class="text-muted">Modern designs for the modern web.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Responsive</h3>
          <p class="text-muted">Highly responsive and easy on your visitors' mobile bandwidth.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Security ninjas</h3>
          <p class="text-muted">On the wind swept mountains of Tibet...but I've said too much.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6" portfolio="portfolio" ng-repeat="portfolio in portfolios"></div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>You want visualizations?  You want a great mobile experience?</h2>
      <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Talk to me Goose</h2>
        <hr class="primary">
        <p>Ready to take on your next project?  Need a personal website for your small business? Looking for a security consultant? Can't find your keys?</p>
        <p><small><strong>Please note:</strong> I can't actually find your keys but maybe I can ask you where you last remember having them and it might spark your memory.</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <i class="fa fa-phone fa-3x wow bounceIn"></i>
        <p>714-243-8735</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:alexander.l.leroux@gmail.com">alexander.l.leroux@gmail.com</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <a href="https://www.linkedin.com/pub/alexander-leroux/61/415/129" target="_blank"><span class="fa fa-linkedin wow fa-2x" title="LinkedIn"></span></a>
        <p>Contact me or take a look at my experience and recommendations</p>
      </div>
    </div>
  </div>
</section>
</div>
